<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <p>
      Enter the secret passcode to be upgraded to an admin of this club.
    </p>
    <form action="" method="post">
      <label for="secretCode">
        <input type="text" name="secretCode" id="secretCode">
      </label>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>