<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to the Clubhouse</h1>
  <p>
    Create a new account <a href="/sign-up">here</a>
  </p>
  <p>
    Are you already an existing member login <a href="/login">here</a>
  </p>
</body>
</html>